<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>web-technical-test</title>
</head>

<body>
    <header>
        <button id="btn-black">All Promotions</button>
        <button id="btn-white">New Customers</button>
    </header>
    <article>
        <div class="card">
            <div class="card__image">
                <img src="https://via.placeholder.com/355x200">
            </div>
            <h2 id="card__title">Promotions Ten</h2>
            <legend id="card__legend">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, voluptatum omnis! Saepe veniam, ipsa animi, itaque dolor at repellendus quos dolorum fugit id minima eum iure? Dolore nam nostrum impedit!
            </legend>
        </div>
    </article>
    <!-- <script src="api.js"></script> -->
</body>

</html>